<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">


  <targets>
    <!-- 104 857 600‬ = 100MB -->
    <!-- 10 485 760 = 10MB -->

    <target
      xsi:type="File"
      name="fileTrace"
      fileName="${basedir}\Logs\Log_Trace.log"
      layout="${longdate:universalTime=false} [${threadid}] - ${level:uppercase=true} ${logger} - ${message}${onexception:${newline}${exception:format=tostring:innerFormat=tostring:maxInnerExceptionLevel=1000}}"
      keepFileOpen="false"
      createDirs="true"
      archiveFileName="${basedir}\Logs\History\Log_Trace.{#}.log"
      archiveNumbering="DateAndSequence"
      archiveDateFormat="yyyy-MM-dd"
      archiveAboveSize="10485760"
      maxArchiveFiles="100"
      maxArchiveDays="60"
        />

    <target
        xsi:type="File"
        name="fileDebug"
        layout="${longdate:universalTime=false} [${threadid}] - ${level:uppercase=true} ${logger} - ${message}${onexception:${newline}${exception:format=tostring:innerFormat=tostring:maxInnerExceptionLevel=1000}}"
        fileName="${basedir}\Logs\Log_Debug.log"
        keepFileOpen="false"
        createDirs="true"
        archiveFileName="${basedir}\Logs\History\Log_Debug.{#}.log"
        archiveNumbering="DateAndSequence"
        archiveDateFormat="yyyy-MM-dd"
        archiveAboveSize="10485760"
        maxArchiveFiles="100"
        maxArchiveDays="60"
        />

    <target
        xsi:type="File"
        name="fileInfo"
        layout="${longdate:universalTime=false} [${threadid}] - ${level:uppercase=true} ${logger} - ${message}${onexception:${newline}${exception:format=tostring:innerFormat=tostring:maxInnerExceptionLevel=1000}}"
        fileName="${basedir}\Logs\Log_Info.log"
        keepFileOpen="false"
        createDirs="true"
        archiveFileName="${basedir}\Logs\History\Log_Info.{#}.log"
        archiveNumbering="DateAndSequence"
        archiveDateFormat="yyyy-MM-dd"
        archiveAboveSize="10485760"
        maxArchiveFiles="100"
        maxArchiveDays="60"
        />

    <target
        xsi:type="File"
        name="fileWarn"
        layout="${longdate:universalTime=false} [${threadid}] - ${level:uppercase=true} ${logger} - ${message}${onexception:${newline}${exception:format=tostring:innerFormat=tostring:maxInnerExceptionLevel=1000}}"
        fileName="${basedir}\Logs\Log_Warn.log"
        keepFileOpen="false"
        createDirs="true"
        archiveFileName="${basedir}\Logs\History\Log_Warn.{#}.log"
        archiveNumbering="DateAndSequence"
        archiveDateFormat="yyyy-MM-dd"
        archiveAboveSize="10485760"
        maxArchiveFiles="100"
        maxArchiveDays="60"
        />

    <target
        xsi:type="File"
        name="fileError"
        fileName="${basedir}\Logs\Log_Error.log"
        layout="${longdate:universalTime=false} [${threadid}] - ${level:uppercase=true} ${logger} - ${message}${onexception:${newline}${exception:format=tostring:innerFormat=tostring:maxInnerExceptionLevel=1000}}"
        keepFileOpen="false"
        createDirs="true"
        archiveFileName="${basedir}\Logs\History\Log_Error.{#}.log"
        archiveNumbering="DateAndSequence"
        archiveDateFormat="yyyy-MM-dd"
        archiveAboveSize="10485760"
        maxArchiveFiles="100"
        maxArchiveDays="60"
        />

    <target
        xsi:type="File"
        name="fileFatal"
        fileName="${basedir}\Logs\Log_Fatal.log"
        layout="${longdate:universalTime=false} [${threadid}] - ${level:uppercase=true} ${logger} - ${message}${onexception:${newline}${exception:format=tostring:innerFormat=tostring:maxInnerExceptionLevel=1000}}"
        keepFileOpen="false"
        createDirs="true"
        archiveFileName="${basedir}\Logs\History\Log_Fatal.{#}.log"
        archiveNumbering="DateAndSequence"
        archiveDateFormat="yyyy-MM-dd"
        archiveAboveSize="10485760"
        maxArchiveFiles="2"
        maxArchiveDays="60"
        />

    <target name="logconsole" xsi:type="Console"
            layout="${longdate:universalTime=false} [${threadid}] - ${level:uppercase=true} ${logger} - ${message}${onexception:${newline}${exception:format=tostring:innerFormat=tostring:maxInnerExceptionLevel=1000}}"/>
  </targets>

  <rules>
    <logger name="*" writeTo="logconsole" />
    <logger name="*" minlevel="Debug" writeTo="fileDebug" />
    <logger name="*" minlevel="Info" writeTo="fileInfo" />
    <logger name="*" minlevel="Error" writeTo="fileError" />
    <logger name="*" minlevel="Fatal" writeTo="fileFatal" />
    <logger name="*" minlevel="Trace" writeTo="fileTrace" />
  </rules>
</nlog>